<!DOCTYPE html> 
<html>
     <!-- HEAD -->
     <%- include('./partials/head') %>
     
    <body class="body-productDetail">
        <!-- HEADER -->
        <%- include('./partials/header') %>
        
        <!-- MAIN -->

        <main class="main-productDetail">

            <section class="titulo">                
                <h2><%= detailProduct.name %></h2>
                <h2><%= detailProduct.marca %></h2>                 
            </section>

            <section class="product">

                <article class="fotos">
                    
                        <div class="img-div fotoPincipal ">
                            <img src="images/products/<%= detailProduct.image %>" alt="foto <%= detailProduct.name %>">
                        </div>                    
                        <!--div class="fotosSecundarias">
                            <div class="img-div"><img src="images/Celulares/1.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/Celulares/2.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/Celulares/3.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/Celulares/4.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/Celulares/5.png" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/Celulares/6.jpg" alt="foto Moto e7"></div>
                            <div class="img-div"><img src="images/Celulares/7.jpg" alt="foto Moto e7"></div>
                        </div-->                   
                                      
                </article>

                <article class="precio"> 
                    <div class="color-green precio">
                        <h2 class="fotos"><%= detailProduct.price %></h2>
                        <!--h2 class="fotos">en 12x $ 9.288,45</h2-->
                        <a class="color-blanco" href="#">Ver todos los medios de pago</a>
                    </div>                 
                </article>

                <article class="botones">
                        <div>
                            <input class="buy-btn" type="submit" value="comprar" name="comprar" id="compar">
                        </div>
                        <div class="icon-edit-delet">
                            <div class="edit-btn">
                                <a href="product/edit/<%= detailProduct.id %>"><i class="fa-regular fa-pen-to-square"></i></a>
                            </div>
                            <div>
                                <a href="#"><i with="30px" class="fa-regular fa-trash-can"></i></a>
                            </div>
                        </div>
                </article>

                <article class="caracteristicas">
                        <h3>descripcion</h3>
                        <div class="description">
                            <%= detailProduct.description %>
                        </div>
                   
                </article>
            </section>

            <section class="whatsapp">                    
                <div class="btn-whatsapp">                        
                    <a href="https://api.whatsapp.com/send/?phone=calleFalsa123&text=Si están leyendo estoy pongan en le chat que nuestra pagina está buenisima!!!" target="_blank">                    
                        <img src="images/whatsapp-logo.png" alt="whatsapp logo">
                    </a>
                </div>
            </section>

        </main>

        <!-- FOOTER -->
        <%- include('./partials/footer') %>

    </body>
</html>